@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .three-d-carousel-wrapper {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
        transparent 0,
        black 15% 85%,
        transparent) 0 50% / 100% calc(100% - (2 * 1rem)) no-repeat,
      linear-gradient(0deg, black, black) 50% 0 / 100% 1rem no-repeat,
      linear-gradient(0deg, black, black) 50% 100% / 100% 1rem no-repeat;
    mask: linear-gradient(90deg,
        transparent 0,
        black 15% 85%,
        transparent) 0 50% / 100% calc(100% - (2 * 1rem)) no-repeat,
      linear-gradient(0deg, black, black) 50% 0 / 100% 1rem no-repeat,
      linear-gradient(0deg, black, black) 50% 100% / 100% 1rem no-repeat;
  }


  .three-d-carousel-track {
    --size: clamp(20rem, 100vh, 40rem);
    height: var(--size);
    width: 100%;
    display: flex;
    overflow: overlay;
    gap: 1rem;
    list-style-type: none;
    padding: 1rem 1rem;
    scroll-snap-type: x mandatory;
    -webkit-mask: radial-gradient(#0000 0 30%, #000 30.5%) 50% calc(var(--size) * 0.5) / 300% 100%;
    mask: radial-gradient(#0000 0 30%, #000 30.5%) 50% calc(var(--size) * 0.5) / 300% 100%;
  }

  .three-d-carousel-item {
    display: inline-block;
    aspect-ratio: 0.25;
    background: transparent;
    scroll-snap-align: center;

    @media screen and (min-width: 768px) {
      aspect-ratio: 0.75;
    }
  }
}